

header {
max-height: 200px;
}

header
#virtuaframelogo {
display: block;
width: 40%;
margin: auto;
}

#navWrapper {
  max-width: 100% ;
  display: flex;
width: 100%;
margins: auto;
text-align: center;
}

#navWrapper
ul {
list-style-type:none;
overflow: hidden;
}

#navWrapper
li {
float: left;
}

.wrapper {
  display: flex;
  /* grid-template-columns: 50% 50%; */
  max-width: 980px;
  margin: 0 auto;
  padding-left: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: Impact, fantasy;
}

/* Index.html styles */
.wrapper
#akira {
  max-width: 50%;
  padding:20px;
  box-sizing: border-box;
  width: calc(50%-30px);
  /* grid-column-start: 1;
  grid-column-end: 1; */

}

.wrapper
#jean {
  max-width: 50%;
  padding:20px;
  box-sizing: border-box;
  width: calc(50%-30px);
  /* grid-column-start: 2;
  grid-column-end: 2;
  padding-left: 20px; */
}

.wrapper
#jacky {
  max-width: 50%;
  padding:20px;
  box-sizing: border-box;
  width: calc(50%-30px);
/* padding-top: 20px;
  grid-column-start: 1;
 grid-column-end: 1; */
}


/* End of Index.html styles */

.wrapper
p {
  /* border: 2px;
  grid-column-start: 1;
 grid-column-end: 1; */
 font-family: monospace;
}

body
{background-image: url(./capstoneSite/images/virtuaframebackground.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: slategray;
  margin: 0;
}

nav {
  background-color: rgb(194, 194, 194);
width: 100%;
height: 100%; ;
}

nav
a {
font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
display:inline-block;
font-size: 20px;
color: rgb(33, 33, 33);
padding: 20px;
text-decoration: none;
}
nav a:hover {
  background-color:rgb(230, 230, 230) ;

}
/* .flexbox {
  display: flex;
} */
.flexbox p {
  /* max-width: 490px;
  margins:5px 5px 5px 5px; */
  font-size: large;
}
.wrapper #jeanframedata {
  width: 50%;
  /* max-width: 100%;
  grid-column-start: 2;
  grid-column-end: 3;
  padding-left: 20px;*/
}

/* media queries code */

/* @media (min-width: 750px) {

      .wrapper {
      display:flex;
      flex-wrap: wrap;
      flex-direction: column;
      justify-content: center;
      justify-content: space-evenly;
  }
   .wrapper
  #jacky
  #akira
  #jean {
  width: 100%;

}


 .header
 {
  display: grid;
grid-template-columns: 33% 33% 33%;
grid-column-start: 1;
max-height: 100px;
}

.header
#virtuaframelogo {
  grid-column-start: 1;
}
} */

@media screen and (max-width: 760px) {
  .wrapper {
    display:flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    justify-content: space-evenly;
}

}


